$color-primary: rgb(94, 211, 193);
$color-secondary: rgb(48, 129, 223);
$color-accent: rgb(112, 13, 13);
$color-gradient-left: rgb(187, 206, 218);
$color-gradient-right: rgb(203, 238, 219);
$color-gradient-accent: rgb(158, 201, 243);
$color-text: rgb(61, 61, 61);
$color-text-accent: rgb(0, 70, 0);


