html {
    font-size: 62.5%;
}

* {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

.grid {
    display: grid;
    grid-template-areas:
        "menu menu menu"
        "lateral principal secundario"
        "pie pie pie";

    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto 70rem 16%;
    column-gap: 0.2rem;
    row-gap: 0.3rem;
}

header {
    background-image: linear-gradient(rgb(201, 215, 216), rgb(70, 130, 128));
    grid-area: menu;
    border-bottom: solid rgb(188, 168, 125)
}

aside {
    background-image: linear-gradient(to right, rgb(176, 205, 207), rgb(70, 130, 128));
    grid-area: lateral;
}

main {
    grid-area: principal;
}

section {
    background-image: linear-gradient(to left, rgb(176, 205, 207), rgb(70, 130, 128));
    grid-area: secundario;
}

footer {
    grid-area: pie;
    background-image: linear-gradient(rgb(201, 215, 216), rgb(70, 130, 128));
    ;
}

.headerbox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

}

.nombre {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: white;
    border-top: solid white;
}

.navbar{font-size: 2rem;}
.nav-link{margin-left: 2rem;}

.iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 7rem;
}

.target {
    filter: invert(100);
}

.iconos img {
    margin-top: 2rem;
    margin-bottom: 5rem;
    height: 2rem;
    width: 2rem;
}

.homebox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.homeimagen {
    height: 25rem;
    margin-top: 3rem;
    margin-left: 2rem;
}

.hometext {
    padding: 2rem 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    color: rgb(58, 77, 92);
}

.accesobox {
    height: 100%;
    width: 100%;
}

.aboutbox {
    padding: 4rem 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    color: rgb(58, 77, 92);
}
.abouttext{margin-bottom: 5rem;}


.acordioncontenedor{margin: 10%;}

.contactobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: rgb(58, 77, 92)
}


.datosbox {
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    margin-top: 10%;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.dato {
    padding: 1rem;
    text-align: center;
    border-bottom: solid;
}

.formulario {

    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    background-image: linear-gradient(rgb(254, 254, 254), white);
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.3rem;
}

.fieldset {
    border: 0rem;
}

.formtitulo {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.formelement {
    padding: 0.8rem;
    right: 0%;
    font-size: 1.5rem;
}

.input {
    border-radius: 0.5rem;
    padding-right: 0cm;
    height: 80%;
    width: 100%
}

.formdesplegar {
    text-align: right;
}

.enviar {
    width: 100%;
    text-align: right;
    background-color: rgb(255, 255, 255);
    border: 0rem;
    color: rgb(58, 77, 92);
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footerflex {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.footerlista {
    list-style: none;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 0.3rem;
    color: rgb(255, 255, 255);
}

@media (min-width: 480px) {

    .hometext {

        line-height: 4rem;
        ;
        padding-top: 3rem;
    }

    .aboutbox {
        margin-top: 3rem;
        font-size: 1.7rem;
        line-height: 3rem;
    }

    .datosbox {
        font-size: 1rem;
        margin-top: 10%;
    }

    .formelement {
        font-size: 1.8rem;
    }

    .footerflex {
        margin-top: 1.5rem;
    }
}

@media (min-width: 600px) {



    .homeimagen {
        height: 30rem;
        margin-left: 2rem;
    }

    .hometext {
        line-height: 5rem;
        ;
        padding-top: 3rem;
    }

    .abouttext {
        font-size: 1.8rem;
        line-height: 3.5rem;
    }

    .datosbox {
        font-size: 1.6rem;
        margin-top: 8%;
    }

    .formtitulo {
        font-size: 2.5rem;
        margin-top: 3.5rem;
        margin-bottom: 2rem;
    }

    .formelement {
        font-size: 1.7rem;
    }

    .input {
        width: 100%
    }

    .footerflex {
        text-align: center;
        margin-top: 4rem;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .footerlista {
        font-size: 0.5rem;
        color: rgb(255, 255, 255);
    }

}

@media (min-width: 768px) {

    .headerbox {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-evenly;
    }

    .nombre {
        text-align: right;
        font-size: 4rem;
        padding-right: 5rem;
    }

    .menuelem {
        font-size: 1.4rem;
        padding: 0rem 1.8rem;
    }

    .homeimagen {
        height: 30rem;
        margin-left: 2rem;
    }

    .iconos img {
        margin-top: 2rem;
        margin-bottom: 5rem;
        height: 3rem;
        width: 3rem;
    }

    .hometext {
        line-height: rem;
        padding: 2rem 3rem;
    }


    .abouttext {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 0rem;
    }

    .container {
        display: grid;
        height: 45rem;
        margin-top: 8rem;
    }

    .contactobox {
        flex-direction: row;
        align-items: flex-end;
    }

    .formulario {
        height: 35rem;
    }

    .datosbox {
        flex-direction: column;
        align-items: flex-end;
        width: 19rem;
        margin-left: 5rem;
        margin-right: 3rem;
        font-size: 1.5rem;
        margin-bottom: -11rem;
    }

    .dato {
        margin-top: 1rem;
    }

    .formulario {
        width: 100%;
    }

    .formtitulo {

        font-size: 2.5rem;
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    .formelement {
        font-size: 1.8rem;
        padding: 1.5rem;
    }

    .input {
        width: 100%
    }

    .footerflex {
        margin-top: 1.8rem;
    }

    .footerlista {
        padding-top: 3rem;
    }

}

@media (min-width: 900px) {
    .formulario {
        width: 120%
    }

    .abouttext {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: -3rem;
    }

    .menuelem {
        font-size: 1.8rem;
        padding: 0rem 2rem;
    }

    .footerflex {
        margin-top: 3.5rem;
    }

}

@media (min-width: 950px) {
    .formulario {
        width: 130%;
    }
}

@media (min-width: 990px) {
    .formulario {
        width: 135%;
    }
}

@media (min-width: 1024px) {

    .grid {
        display: grid;
        grid-template-areas:
            "lateral menu menu"
            "lateral principal secundario"
            "lateral pie pie";

        grid-template-columns: 8% auto 10%;
        grid-template-rows: 13% auto 13%;

    }

    .headerbox {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
        height: 9rem;
        margin-left: 2rem;
        padding-right: 2rem;
        padding-right: 3rem;
    }

    .nombre {
        text-align: right;
        font-size: 5rem;
        padding-right: 5rem;


    }

    .iconos img {
        margin-top: 5rem;
        height: 3.3rem;
        width: 3.3rem;
    }

    .homebox {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .homeimagen {
        height: 45rem;
        width: 35rem;
    }


    .hometext {
        display: hi;
        text-align: right;
        font-size: 2.8rem;
        line-height: 6rem;
        padding: 5rem 8rem 0rem 0rem;
    }


    .abouttext {
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 2rem 3rem;
        margin-top: -5rem;
        margin-bottom: 1rem;
    }

    .datosbox {

        width: 23rem;

    }

    .dato {
        margin-top: 1rem;
    }

    .formulario {
        width: 130%;
    }

    .formtitulo {
        font-size: 1rem;
        text-align: left;
        margin-left: 1rem;
        margin-bottom: -0.5rem;

    }

    .formelement {
        text-align: right;
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    .input {
        width: 100%
    }

    .footerflex {
        margin-top: 1.5rem;
    }
}

@media (min-width: 1200px) {


    .navbar{font-size: 2.5rem;}
.nav-link{margin-left: 3rem;}

    .grid {
        grid-template-columns: 7% auto 5%;
        grid-template-rows: 10rem auto 10rem;

    }

    .headerbox {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-evenly;
        height: 9rem;       
    }

    .nombre {
        text-align: right;
        font-size: 5rem;
        padding-right: 5rem;


    }

    

    .iconos img {
        margin-top: 4rem;
        height: 4rem;
        width: 4rem;
    }

    .homeimagen {
        height: 55rem;
        width: 50rem;
    }



    .abouttext {
        font-size: 3rem;
        line-height: 3.5rem;
        padding: 1rem 3rem;
    }

    .datosbox {

        width: 30rem;

    }

    .dato {
        margin-top: 1rem;
    }

    .formulario {
        width: 180%;
    }

    .formtitulo {
        text-align: left;
        margin-left: 1rem;
        margin-bottom: -0.5rem;
    }
}

.footerlista {
    margin-top: -1rem;
    font-size: 1.8rem;
}