footer {
    padding: 3%;
    grid-area: pie;
    background-image: linear-gradient($color-gradient-left, $color-gradient-right);
    ;
}


.footerflex {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.footerlista {text-align: center;
line-height: 2rem;
    font-family: $font-style;
    font-size: 2rem;
    color: $color-text-accent;
    margin-bottom: 2rem;
}

.list-group-item{margin-top: 2rem;}

.firstintem {font-weight: bold;}

.nodecoration {list-style: none;
    text-decoration: none;
color: $color-text-accent;}