/*Header*/


header {
    grid-area: menu;
    animation-duration: 7s;
    animation-name: colorefect;
    animation-delay: -1s;
}


.navbar {
    background-image: linear-gradient($color-gradient-left, $color-gradient-right);
    padding-left: 5%;
    padding-right: 7%;
    padding-top: 2%;

    &:hover {
        background-image: linear-gradient(to right, ($color-gradient-left, $color-gradient-right));
    }

}

.navbar-brand {
    color: $color-text-accent;
    font-family: $font-style;
    font-size: 3rem;
    border-top: solid rgb(255, 255, 255);
    margin-left: 1rem;
    width: 70%;

}

.justfirs {
    animation-duration: 6s;
    animation-name: slidein;
}

.navhome {
    font-size: 2rem;
    animation-duration: 7s;
    animation-name: slidetop;
    animation-delay: -2s;
}


.nav-link {
    margin-left: 2rem;
    font-size: 1.5rem;

    &:hover {
        color: $color-text-accent;

        &::before {
            content: "";
            display: block;
            border-bottom: 2px solid $color-accent;
            height: 0.5px;
            animation-name: slidelink, fadein;
            animation-duration: 5s;
        }

    }

}


